@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Message"]</h3>

<ul>
    <li>Enter URL</li>
    <li>Enter the number of threads</li>
    <li>Enter text which you want to find</li>
    <li>Enter the scan depth</li>
</ul>
<br />
<p>Just wait a few seconds</p>
<br />
<p>You can stop or pause search which you have been began</p>
