@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>

<address>
    Maksym Akulov<br />
    Dnipro, Ukraine<br />
    <abbr title="Phone">Phone</abbr>
    +380937056507
</address>

<address>
    <strong>Support:</strong> <a href="mailto:maksakulov@hotmail.com">maksakulov@hotmail.com</a><br />
</address>
