@{
    ViewData["Title"] = "Main Page";
}
<div class="pauseStop">
    <div>
        <form asp-action="PauseSearch">
            <div class="form-group">
                <input type="submit" value="Pause" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div>
        <form asp-action="StopSearch">
            <div class="form-group">
                <input type="submit" value="Stop" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@Html.PartialAsync("StartParamView").GetAwaiter().GetResult();
