@model PauseResult

<div class="pauseStop">
    <div class="btn">
        <form asp-action="ResumeSearch">
            <div class="form-group">
                <input type="submit" value="Resume" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="btn">
        <form asp-action="StopSearch">
            <div class="form-group">
                <input type="submit" value="Stop" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">URl</th>
            <th scope="col">Childs count</th>
            <th scope="col">Words found</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Result)
        {
            <tr>
                <td scope="col"><a href=@i.URL>@i.URL</a></td>
                <td scope="col">@i.Childs.Count</td>
                <td scope="col">@i.Words.Count</td>
            </tr>
        }

    </tbody>
</table>
<div>
</div>